

.MuiInput-root.MuiInput-underline:before {
    border-bottom: none; 
  }
  
  
  .MuiInput-root.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none; 
  }
  

  .MuiInput-root.MuiInput-underline:focus:not(.Mui-disabled):before {
    border-bottom: none; 
  }  
  .MuiInput-root.MuiInput-underline:after {
    border-bottom: none; 
  }