
/* Màu sắc border mặc định */
.MuiInput-root.MuiInput-underline:before {
    border-bottom: none; /* Màu đen khi hover */
  }
  
  /* Màu sắc border khi hover */
  .MuiInput-root.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none; /* Màu xanh khi click */
  }
  
  /* Màu sắc border khi focus (click) */
  .MuiInput-root.MuiInput-underline:focus:not(.Mui-disabled):before {
    border-bottom: none; /* Màu xanh khi click */
  }  
  .MuiInput-root.MuiInput-underline:after {
    border-bottom: none; 
  }